* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.top {
    height: 800px;
    background-image: url(./img/top-bcg.jpg);
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.top__title-box {
    padding-top: 196px;
}

.top__title {
    color: rgba(32, 32, 39, 1);
    font-size: 64px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
}

.top__description-box {
    padding-top: 24px;
    padding-bottom: 48px;
}S

.top__description {
    color: rgba(32, 32, 39, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.button {
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    padding: 16px 28px 16px 28px;
}

.content {
    height: 1470px;
    background: url(./img/content-bcg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.content__title-box {
    padding-top: 94px;
    padding-bottom: 24px;
}

.content__title {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
}

.content__description-box {
    padding-bottom: 70px;
    max-width: 740px;
}

.content__description {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.content__nav-box {
    display: flex;
    gap: 32px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.nav-card__card {
    
    width: 378px;
    border: 1px 1px 1px solid #000;
    border-radius: 30px;
    box-shadow: 0px 12.612295150756836px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav-card__number {
    color: rgba(32, 32, 39, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px 10px 16px;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 16px;
}

.nav-card__name {
    color: rgba(32, 32, 39, 1);
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 32px;
    width: 250px;
}

.card-type-1 {
    height: 512px;
}

.card-type-2 {
    height: 551px;
}

.card-type-3 {
    height: 473px;
}
